p {
  font-family: Roboto, Workbench;
  margin-top: 0;
  margin-bottom: 0;
}

.supersimple-youtube-preview {
display: block;
}


.thumbnail-picture {
  display: inline-block;
  vertical-align: top;
}

.video-info {
  display: inline-block;
  vertical-align: top;
}

.main-picture {
  width: 200px;
  height: 120px;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
  width: 250px;
}

.video-author {
  margin-top: 15px;
}

.video-author, .video-stat {
  color: rgb(96, 96, 96);
  font-size: 14px;
  line-height: 1.5;
}





