   .red {
        background-color: red;
        display: inline-block;
        width: 50px;
        height: 50px;
      }

      .green {
        background-color: green;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin-bottom: 0;
      }

      .wrapped {
        margin-top: 10px;
        border: 2px solid black;
        display: inline-block;
        padding: 10px 15px;
        margin-bottom: 0;
      }

      .youtube-music {
        background-color: black;
        display: inline-block;
        padding: 8px;
      }

      .install {
        font-size: 20px;
        color: white;
        font-family: Arial;
      }

      .add {
        color: grey;
        font-family: Arial;
        width: 370px;
      }

      .cat-picture3 {
        width: 60px;
        height: 60px;
        border-radius: 200px;
        margin-left: 30px;
        vertical-align: top;
      }

      .happening {
        font-size: 20px;
        margin-left: 10px;
        color: grey;
      }

      .tweet-button {
        background-color: rgb(2, 158, 255);
        color: white;
        border: none;
        height: 35px;
        border-radius: 100px;
        font-weight: bold;
        font-size: 18px;
        margin-top: 13px;
        margin-left: 130px;
        padding: 7px 15px;
        vertical-align: top;
      }

      .image-and-textbox-exercise {
        margin-top: 20px;
        display: inline-flex;
        cursor: pointer;
        padding: 10px 5px;
        border: 3px solid grey;
      }

      .image-and-textbox-exercise:hover {
        box-shadow: 10px 10px 3px black;
        transition: box-shadow 0.7s;
      }

      .profile {
        display: grid;
        margin-top: 20px;
      }


      .cat-picture4 {
        width: 150px;
        height: 150px;
       /* object-fit: cover;
        object-position: center;  */
      }

      .name {
        font-weight: bold;
        font-size: 17px;
        font-family: Arial;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .mutual-friends {
        margin-top: 0;
        color: grey;
        font-family: Arial;
        font-size: 15px;
      }

      .add-friend {
        margin-top: -5px;
        background-color: rgb(13, 13, 233);
        color: white;
        padding: 7px 15px;
        border-radius: 5px;
        font-weight: bold;
      }

      .name,
      .mutual-friends,
      .add-friend {
        margin-left: 5px;
      }

      .profile-grid {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 10px;
      }

      .trying-grid {
        display: grid;
        grid-template-columns: 20px 50px;
        column-gap: 0;      
      }

      .picture {
        width: 40px;
        height: 40px;
        border-radius:300px;
        margin-left: 30px;
      }
