.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-color: rgb(228, 226, 226);
  border-bottom-style: solid;
  z-index: 100;
}

.notifications-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.notification-count {
  position: absolute;
  top: -3px;
  right: -7px;
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 70px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Roboto, Arial;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  margin-right: 20px;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* No matter what happens, the flex will not shrink */
  flex-shrink: 0;
}

.search-bar {
  flex: 1;
  height: 34px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  /* Stting shadow inside an element */
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
  /* setting it width to zero, it shrinks */
  width: 0;
}

/* Targeting a placeholder in an input element */
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.hamburger-menu {
  margin-left: 24px;
  margin-right: 24px;
  height: 20px;
}

.youtube-logo {
  height: 20px;
}

.search-icon-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon-button,
.voice-search-button, .upload-icon-container, .notifications-icon-container, .youtube-apps-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon-button .tooltip,
.voice-search-button .tooltip, .upload-icon-container .tooltip, .notifications-icon-container .tooltip, .youtube-apps-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 5px 7px;
  font-size: 13px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-family: Roboto, Arial;
}

.search-icon-button:hover .tooltip, .voice-search-button:hover .tooltip, .upload-icon-container:hover .tooltip, .notifications-icon-container:hover .tooltip, .youtube-apps-container:hover .tooltip {
  opacity: 1;
}

.search-icon { 
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}

.voice-search-icon {
  height: 24px;

  background-color: rgb(245, 245, 245);
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 24px;
}

.my-channel-picture {
  height: 32px;
  border-radius: 16px;
}
